page-intro1 {
  background: url("../assets/img/bg.jpg");
  background-size: cover;
  h1 {
    padding-top: 0.6em;
    font-size: 3.5em;
    color: white;
  }
  ion-content {
    background: none;
    background-color: transparent !important;
  }
  ion-grid {
    margin-top: 20px;
  }
  ion-row {
    padding-top: 10px;
  }
  ion-row.text {
    min-height: 430px;
  }
  .speech-bubble {
    position: relative;
    background: #ffffb7;
    border-radius: .4em;
    min-height: 9em;
    padding: 1em;
    margin: 3em;
    p {
        font-size: 2em;
    }
  }
  .speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.688em solid transparent;
	border-left-color: #ffffb7;
	border-right: 0;
	margin-top: -1.687em;
	margin-right: -1.687em;
}
}
