<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="playAgain()">{{'END.PLAY_AGAIN' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed size-md>
    <ion-row justify-content-center align-items-center>

      <ion-col size="9" size-m style="text-align: center;">
        <h1>{{'END.WELL_DONE' | translate}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>