<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="next()">{{'UI.NEXT' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-grid fixed size-md>

    <ion-row class="text">
      <ion-col text-center class="title-row">
        <h1 *ngIf="app.participant != null && app.participant.gender == 'female'; else defaultTitle" 
            [@fade]="titleState">{{'PRACTICE_OUTRO.TITLE_F' | translate}}</h1>
        <ng-template #defaultTitle>
          <h1 [@fade]="titleState">{{'PRACTICE_OUTRO.TITLE' | translate}}</h1>
        </ng-template>
        <h1 [@fade]="textState" class="outro-text">{{'PRACTICE_OUTRO.TEXT' | translate}}</h1>
      </ion-col>
    </ion-row>

    <ion-row class="bottom" align-items-end>

        <ion-col size="10"></ion-col>

        <ion-col size="2">
          <img [@fade]="robotState" src="assets/img/robot.png" alt="robot" class="robot-img">
        </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>