page-end {
    ion-grid {
      margin-top: 30px;
    }
    ion-row#top {
      padding-top: 60px;
      h1 {
        font-size: xx-large;
      }
    }
    ion-row#half {
      margin-top: 40px;
      text-align: center;
    }
    ion-row#history {
      margin-top: 10px;
      text-align: center;
    }
    ion-row#bottom {
      margin-top: 30px;
      text-align: center;
    }
    ion-col.bordered {
      border: 2px solid black;
      border-radius: 10%;
      margin: 3px;
    }
    .content-wrapper {
      padding: 20px;
      background: beige;
      border-radius: 10px;
      font-size: large;
      h1 {
        margin-bottom: 30px;
      }
    }
  }
  