<ion-header>
  <ion-navbar color="transparent">
    <ion-buttons start>
      <button *ngIf="!nextConfirmed" outline color="danger" ion-button (click)="confirmNext()">{{'END.PLAY_AGAIN' | translate}}</button>
      <button *ngIf="nextConfirmed" outline color="secondary" ion-button (click)="next()" color="secondary">{{'END.PLAY_AGAIN_CONFIRM' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row id="top">
      <ion-col text-center>
        <h1 [@fade]="titleState">{{'END.WELL_DONE' | translate}}</h1>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
