<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="next()">{{'UI.NEXT' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-grid fixed size-md>

    <!-- <ion-row justify-content-center align-items-start> -->

    <ion-row class="text">
      <ion-col text-center>
        <h1 *ngIf="app.participant != null && app.participant.gender == 'female'; else defaultTitle" 
            [@fade]="titleState">{{'INTRO.TITLE_F' | translate}}</h1>
        <ng-template #defaultTitle>
          <h1 [@fade]="titleState">{{'INTRO.TITLE' | translate}}</h1>
        </ng-template>
        <p [@fade]="textState" class="intro-text" [innerHTML]="text"></p>
      </ion-col>
    </ion-row>

    <ion-row class="planets">
      <ion-col text-center>
        <img [@fade]="planetsState" src="assets/img/{{planetsImg}}.png" alt="planets">
      </ion-col>
    </ion-row>

    <ion-row class="bottom" align-items-end justify-content-center>
      <ion-col size="3">
        <img [@fade]="rocketState" src="assets/img/rocket.png" alt="rocket" class="rocket-img">
      </ion-col>

      <ion-col size="1"></ion-col>

      <ion-col size="6" text-center>
        <div [@fade]="robotState" class="speech-bubble">
          <p>{{'INTRO.ROBOT_TEXT' | translate}}</p>
        </div>
      </ion-col>

      <ion-col size="2">
        <img [@fade]="robotState" src="assets/img/robot.png" alt="robot">
      </ion-col>

      </ion-row>

  </ion-grid>

</ion-content>