<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="next()">{{'PLANET.NEXT' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-grid fixed size-md>
    <ion-row justify-content-center align-items-center>

      <ion-col size="9" size-m style="text-align: center;">
        <h1>{{'END.WELL_DONE' | translate}}</h1>
        <h2>{{'END.WELL_DONE_2' | translate}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="bottom" align-items-end>

      <ion-col size="10"></ion-col>

      <ion-col size="2">
        <img src="assets/img/robot.png" alt="robot" class="robot-img">
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>