<ion-header>
  <ion-navbar>
    <ion-buttons end>
     
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid class="stimuli-grid six">
    <ion-row>
      <ion-col *ngFor="let obj of stimuli.testRound.objects | slice:0:3">
        <img src="assets/img/childes/{{obj.fileName}}.jpg" (click)="objClicked(obj)" [style.border-color]="obj.borderColor" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let obj of stimuli.testRound.objects | slice:3:6">
        <img src="assets/img/childes/{{obj.fileName}}.jpg" (click)="objClicked(obj)" [style.border-color]="obj.borderColor" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let obj of stimuli.testRound.objects | slice:6:9">
        <img src="assets/img/childes/{{obj.fileName}}.jpg" (click)="objClicked(obj)" [style.border-color]="obj.borderColor" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
